{% extends "base.html" %}

{% block content %}


    {% for entry in entries %}
        <article>

            <h3>{{ entry.title }}</h3>
            <h6>Written by <a href="{% url 'entries_view' entry.author %}">{{ entry.author }}</a> on {{ entry.date }}.</h6>

            <div class="row">
                <div class="large-12 columns">
                    <p>{{ entry.text }} </p>
                </div>
            </div>
        </article>
        <hr />
    {% endfor %}


{% endblock %}