{% extends "base.html" %}
{% block content %}
    <div class="text-center">
		<form action="" method="POST" xmlns="http://www.w3.org/1999/html">
            {% csrf_token %}
        <div class="column">
            <div style="max-width: 200px;margin: auto;" class="username">
			<input name="username" required="required" type="text" placeholder="Username" />
			</div>
			</div>
        <div class="column">
            <div style="max-width: 200px;margin: auto;">
			<input name="password" required="required" type="password" placeholder="Password">
			</div>
			</div>
        <div class="column">
            <div class="has-button">
			<button type='submit' class="small button" >Login</button>
       </div>
        </div>
		</form>
    </div>
{% endblock %}