{% extends "base.html" %}

{% block content %}

<form action="{% url 'blog_add' %}" method="POST" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <input required="required" type="text" name="title" placeholder="Title"></br>
    <textarea required="required" rows="5" name="text" class="max-width" placeholder="Write something..."></textarea></br>
    <input required="required" type="text" name="author" placeholder="Author"></br>
    <button id="add" type="submit" class="btn">Add entry</button>
</form>
{% endblock %}