{% extends "base.html" %}

{% block content %}
    <a href="{% url 'blog_add' %}">Dodaj Wpis</a>
    <h3>Wpisy</h3>
    {% for blogmessage in blogmessages %}
        <div class="blogmessage">
        <h3>{{ blogmessage.title }}</h3>
        <blockquote>
        <p>{{ blogmessage.message }}</p>
        <small>{{ blogmessage.pub_date }}<br/>
        {{ blogmessage.nick }}<br/>
        </small>
        </blockquote>
        </div>
    {% endfor %}
{% endblock %}